html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Heading */

.heading h1 {
  padding: 0.5em 0.5em 0.7em 0.5em;
  font-size: 1.2em;
  margin: 0;
  background: #6B0000;
  color: #F5D470;
  font-weight: 500;
  text-align: left;
  flex: 1 1;
}

/* Map */

.map-view {
  height: calc(60vh - 50px);
  position: relative;
  flex: 1 1;
}

/* ListView */

.list {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.locations {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  flex: 1 0;
  border-top: 1px solid #A82626;
}

.locations li {
  height: 2.5em;
  line-height: 2.5em;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 1em;
}

.active-location {
  background: #D8D8D1;
}

/* Filter */

.filter-container {
  padding: 0;
  background: #6B0000;
  text-align: left;
  color: #F8E199;
  display: flex;
  flex-wrap: wrap;
}

.filter-label {
  padding: 0.5em 0 0 0.5em;
  line-height: 1em;
}

.filter-container select {
  border-radius: 3px;
  height: 1.8em;
  margin: 0.5em;
  border: 1px solid #455A64;
  max-width: 275px;
  flex: 1 1;
}

/* Info Window */

#info-window-content {
  text-align: left;
  min-height: 100px;
  max-width: 70vw;
}

#venue-info label {
  float: left;
  padding: 0 1em 0 0;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .content {
    flex-direction: row;
  }

  .map-view {
    order: 1;
    height: 100vh;
    position: absolute;
    left: 300px;
    top: 0;
    width: calc(100vw - 300px);
  }

  .list {
    width: 50vw;
    max-width: 300px;
    flex: 1 1;
    height: calc(100vh - 50px);
  }

  #info-window-content {
    max-width: 30vw;
  }
}