html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Map */

.map-view {
  height: 60vh;
  position: relative;
}

/* ListView */

.list {
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.locations {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: 100%;
  flex: 1 0;
}

.locations li {
  height: 2.5em;
  line-height: 2.5em;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 0 0 0 1em;
}

/* Filter */

.filter-container {
  padding: 0;
  background: #CFD8DC;
  text-align: left;
}

#travel-time-filter-label {
  padding: 0.5em 0 0 0.5em;
  color: #455A64;
}

.filter-container select {
  border-radius: 3px;
  height: 1.8em;
  margin: 0.5em;
  border: 1px solid #455A64;
  max-width: 275px;
}

/* Info Window */

#info-window-content {
  text-align: left;
  min-height: 100px;
  max-width: 70vw;
}

#venue-info label {
  float: left;
  padding: 0 1em 0 0;
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .App {
    flex-direction: row;
  }

  .map-view {
    flex: 1 1;
    order: 1;
    width: 50vw;
    height: 100vh;
  }

  .list {
    width: 50vw;
    max-width: 300px;
    flex: 1 1;
    height: auto;
  }

  #info-window-content {
    max-width: 30vw;
  }
}